input[type="text"]{
    width: 100%;
    padding: 10px;
    padding-right: 35px;
    border: none;
    border-radius: 5px;
    background-color: rgb(34, 32, 32);
    color: #fff;
    margin: 0   30%;
    margin-top: 2rem;
    
}

@media only screen and (max-width : 600px) {
    input[type="text"]{
        margin: 10% 10%;
    }
 }

 @media only screen and (min-width: 601px) and (max-device-width: 1024px){
    input[type="text"]{
        width: 100%;
        margin: 5%;
        text-align: center;
        
    }
 }